.login-msg {
    margin-bottom: 20px;
}

.favourites {
  background-image: url("../../../public/images/honeycomb4.jpg"); 
  background-size: cover;
  border: 3px solid var(--color-black-1);
  border-radius: 30px;
  padding: 20px 28px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
}
.favourite-header {
    font-size: 28px;
}
.searchFave {
  padding: 10px;
}

@media screen and (max-width: 790px) {
    .favourites {
      max-width: calc(100vw - 80px);
    }

}

@media screen and (max-width: 520px) {
    .favourites {
      flex-direction: column;
    }
}