.footer {
    display: flex;
    flex-direction: column;
    -ms-flex-align: end;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    height: 6vh;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 30px;
}

.footer-logo {
    height: 20%;
    display: block;
}

.git-links {
    display:inline-block
}