.Navbar {
    background-color: var(--navbar-background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

.navbar-links {
    margin: 0px;
    padding: 0px;
}

.navbar-links-item {
    margin: 0px;
    padding: 20px;
    font-size: 25px;
    display: inline-block;
}

.navbar-links-item a {
    text-decoration: none;
}

.navbar-links-item a:link,
.navbar-links-item a:visited {
    color: var(--navbar-link-color);
}

.navbar-links-item a:active,
.navbar-links-item a:hover {
    color: var(--navbar-active-link-color);
}