/* #message {
    display: none;
} */

.services {
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 20px;
}

.services:hover {
    color: white;
}

