.tram-map {
    width: 100%;
    aspect-ratio: 3 / 1;
    border: 3px solid black;
    object-fit: cover;
}
/* .home-page {
    background-image: url("https://cdn.pixabay.com/photo/2016/08/02/14/42/banner-1563543_960_720.jpg");
    color: aliceblue;
    height: 100%;
    font-size: 250%;
} */