.tram-map {
    /* width: calc(100% - 6px); */
    width: 100%;
    aspect-ratio: 3 / 1;
    /* border: 3px solid var(--color-brand-1); */
    object-fit: contain;
    margin: 0px;
    padding: 0px;
    min-width: 1300px;
}
.tram-map-container {
    min-height: 430px;
}

.home-page {
    height: 100%;
    font-size: 250%;
}

.home-header {
    margin: 0;
}
@media screen and (max-width: 1300px) {
    .tram-map-container {
        overflow: scroll;
    }
}
