.googlemap {
    width: 100%;
}
.map-header {
    font-size: 28px;
    background-color: var(--color-brand-1);
    border: 3px solid var(--color-black-1);
    width: fit-content;
    padding: 10px;
}
.map-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}