.googlemap {
    height: 100%;
    width: 100%;
    margin-top: -58px;
    overflow: hidden;
}
.map-header {
    font-size: 28px;
    background-color: var(--color-brand-1);
    border: 3px solid var(--color-black-1);
    width: fit-content;
    padding: 10px;
}
.map-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.map-container {
    height: 120%;
    width: 120vh;
    /* border: 2px solid blue; */
    overflow: hidden;
}