

/* .App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* 
navbar: 

background color: black
text color: white
selected link color
navbar button 1

page body:

body background color
text color 1

buttons:

button 1 color
button 1 text color
button 2 color
button 2 text color



*/
:root {
  --navbar-background-color: rgb(13, 13, 13);
  --navbar-link-color: rgb(243, 243, 243);
  --navbar-active-link-color: rgb(253, 175, 1);
}