

/* .App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* 
navbar: 

background color: black
text color: white
selected link color
navbar button 1

page body:

body background color
text color 1

buttons:

button 1 color
button 1 text color
button 2 color
button 2 text color



*/


:root {

  /* Colors */
  --color-black-1:rgb(13, 13, 13);
  --color-white-1: rgb(243, 243, 243);
  --color-brand-1: rgb(253, 175, 1);


  /* Navigation */
  --navbar-background-color: var(--color-black-1);
  --navbar-link-color: var(--color-white-1);
  --navbar-active-link-color: var(--color-brand-1);
}