

/* .App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

/* 
navbar: 

background color: black
text color: white
selected link color
navbar button 1

page body:

body background color
text color 1

buttons:

button 1 color
button 1 text color
button 2 color
button 2 text color



*/
body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../../public/images/honeycomb3.jpg"); 
  background-size: 3840px 2160px;
  background-repeat: no-repeat;
}

:root {

  /* Colors */
  --color-black-1:rgb(13, 13, 13);
  --color-white-1: rgb(243, 243, 243);
  --color-brand-1: rgb(253, 175, 1);
  --color-brand-2: rgb(225, 158, 12);

  /* Navigation */
  --navbar-background-color: var(--color-black-1);
  --navbar-link-color: var(--color-white-1);
  --navbar-active-link-color: var(--color-brand-1);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 70px;
}