.button-1, .button-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
}

.button-1 {
    background: var(--color-brand-1);
    border: 3px solid var(--color-black-1);
    color: var(--color-black-1)
}

.button-2 {
    background-color: var(--color-black-1);
    border: 3px solid var(--color-brand-1);
    color: var(--color-brand-1);
}